@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #d97706;       /* Amber-600 */
  --color-primary-light: #f59e0b; /* Amber-500 */
  --color-primary-dark: #b45309;  /* Amber-700 */
  --color-surface-dark: #0f172a;  /* Slate-900 */
  --color-surface-dim: #1e293b;   /* Slate-800 */
  --color-bg-paper: #fafaf9;      /* Stone-50 */
  --color-text-main: #1e293b;     /* Slate-800 */
}

body {
  background-color: var(--color-bg-paper);
  color: var(--color-text-main);
}